<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()[1].tap()</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:30:16Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>submitting invitatino code</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:30:16Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].webViews()[0].textFields()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:30:23Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("MAISA")</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:30:30Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].webViews()[0].buttons()["Submit"].tap()</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:30:36Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>submitted invitation code</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:30:45Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>entering user details fileds</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:30:45Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].webViews()[0].textFields()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:30:45Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("sadashiv")</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:30:49Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].webViews()[0].textFields()[1].tap()</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:31:00Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("bachuwar")</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:31:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].webViews()[0].textFields()[2].tap()</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:31:09Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("ios94@test.com")</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:31:13Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].webViews()[0].textFields()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:31:25Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("504103")</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:31:31Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].webViews()[0].textFields()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:31:37Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("9999999915")</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:31:43Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].webViews()[0].textFields()[5].tap()</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:31:52Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("9999999915")</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:31:56Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].webViews()[0].secureTextFields()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:32:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("mpride")</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:32:08Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].webViews()[0].secureTextFields()[1].tap()</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:32:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("mpride")</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:32:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].webViews()[0].switches()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:32:26Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].webViews()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:32:30Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>ios94@test.com user registered successfully</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:32:30Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:32:36Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>captured successfull register</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:32:38Z</date>
			<key>Type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", UIScreen, "successfull register")</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:32:38Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>successfull register</string>
			<key>Screenshot</key>
			<string>9D1325C9-5904-4E75-AB8F-36D0AFABEFD1</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:32:38Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>captured successfull register</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:32:38Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>Cannot perform action on invalid element: UIAElementNil from target.frontMostApp().mainWindow().scrollViews()[0].webViews()[0].links()[0]</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:32:43Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>File</key>
			<string>dynregistration_login.js</string>
			<key>Line</key>
			<integer>97</integer>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>Script threw an uncaught JavaScript error: Cannot perform action on invalid element: UIAElementNil from target.frontMostApp().mainWindow().scrollViews()[0].webViews()[0].links()[0] on line 97 of dynregistration_login.js</string>
			<key>Timestamp</key>
			<date>2014-11-27T12:32:44Z</date>
			<key>Type</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
